#imageDiv
{
	float: right;
	cursor:pointer;
	cursor:hand;
}

#textDiv
{
	padding-right: 80px;
}

#popupDiv
{
	margin-left: 150px;
	width: 500px;
	text-align: center;
}

#closeDiv h2
{
	cursor:pointer;
	cursor:hand;
}
